<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HatFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HatFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="ApplicationInsights" connectionString="InstrumentationKey=dfe9d5f9-0294-41af-b89d-9b298755120f;IngestionEndpoint=https://japaneast-1.in.applicationinsights.azure.com/;LiveEndpoint=https://japaneast.livediagnostics.monitor.azure.com/;ApplicationId=f1390728-b794-4f97-989e-d559f55ff1eb" />
	</connectionStrings>
	<appSettings>
		<!--デバッグビルド時の優先設定ファイル-->
		<add key="__DevAppConfigFile__" value="%APPDATA%\Microsoft\UserSecrets\0cc6ecb7-7f09-45dd-a27f-6a271a8f236a\App.config" />

		<!--SeverityLevel Enumで指定-->
		<!--Verbose/Information/Warning/Error/Critical-->
		<add key="ApplicationInsights:SeverityLevel" value="Information" />
		
		<!--REST API-->
		<add key="Api:HatF:Uri" value="https://webapp36256bb2.azurewebsites.net" />
		<!--<add key="Api:HatF:Uri" value="http://localhost:5244" />-->
		<add key="Api:Ikkanka:Uri" value="http://localhost:5244" />
		<add key="Api:Epuko:Uri" value="http://10.7.2.1:88/Service.asmx" />
		
		<!--帳票-->
		<add key="Reporting:ExcelTemplatePath" value=".\Template\Excels" />
		<add key="Reporting:ExcelOutputTempPath" value="%TEMP%\HAT-F" />
		<add key="Reporting:ExcelOutputPath" value="%LOCALAPPDATA%\HAT-F\Excel Reports" />

		<!--ローカルPC内のデータ保存パス-->
		<!--設定等、ユーザーに意識させない系-->
		<add key="Client:LocalDataSavePath" value="%LOCALAPPDATA%\HAT-F" />

		<!--Blob Strage-->
		<add key="BlobStrage:TempOutputPath" value="%TEMP%\HAT-F\BlobStrage" />

		<add key="Theme:Enabled" value="true" />
		<add key="Theme:Color:Main" value="#0069B2" />
		<add key="Theme:Color:Aqua" value="#89CFF0" />

		<add key="AppConfig:BaseDate" value="2023/01/01"/>

	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HatFClient.Properties.Settings>
            <setting name="login_id" serializeAs="String">
                <value />
            </setting>
            <setting name="login_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="login_flg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="login_user" serializeAs="String">
                <value />
            </setting>
            <setting name="personal_on" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="personal_note" serializeAs="String">
                <value>納品書No_[伝票番号] ご注文No_[客先注番]</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jh_main_height" serializeAs="String">
                <value>968</value>
            </setting>
            <setting name="jh_main_width" serializeAs="String">
                <value>1287</value>
            </setting>
            <setting name="interestrate_rate_under" serializeAs="String">
                <value />
            </setting>
            <setting name="interestrate_rate_over" serializeAs="String">
                <value />
            </setting>
            <setting name="interestrate_suryo_over" serializeAs="String">
                <value />
            </setting>
            <setting name="interestrate_uri_kin_over" serializeAs="String">
                <value />
            </setting>
            <setting name="interestrate_uri_tan_zero" serializeAs="String">
                <value>False</value>
            </setting>
        </HatFClient.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HatFClient.Properties.Settings>
            <setting name="EPUKO_URL" serializeAs="String">
                <value>http://10.7.2.1:88/Service.asmx</value>
            </setting>
        </HatFClient.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>